/* Basic styles for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
  }
  
  /* Styles for the nav */
nav {
background-color: #333;
padding: 10px 0;
}

nav ul {
list-style-type: none;
display: flex;
justify-content: center;
margin: 0;
padding: 0;
}

nav ul li {
margin: 0 15px;
}

nav ul li a {
color: white;
text-decoration: none;
font-size: 1.2em;
}

nav ul li a:hover {
color: #007bff;
}
  
  /* Styles for the heading */
h1 {
    text-align: center;
    color: #333;
}
  
h2 {
    color: #444;
 }
  
/* Form styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  font-size: 18px;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Container to display user info and repositories side by side */
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  }

/* User Info section (left) */
.user-info-container {
  width: 45%; 
  margin-right: 20px;
  display: none; 
}
  
  .user-info {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.user-info img {
  display: block;
  margin-bottom: 10px;
  border-radius: 50%;
  max-width: 100px;
}

.user-info h2 {
  margin-bottom: 10px;
}

/* Repositories section (right) */
.repos-container {
  width: 50%;
  display: none; 
}
  
.repos {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

ul#reposList {
  list-style-type: none;
  padding: 0;
}

ul#reposList li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

ul#reposList li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

ul#reposList li a:hover {
  color: #0056b3;
}

ul#reposList li p {
  margin: 5px 0;
}

#loading {
  text-align: center;
  margin: 20px;
  color: #555;
  }